* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
}

.container-wrapper {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 30px;
  color: gray;
  font-weight: bold;
}

.search-input {
  border-radius: 20px;
  width: 250px;
  height: 30px;
  padding-left: 20px;
}

.form-container {
  background-color: white;
  width: 500px;
  height: 200px;
}

.form-input {
  width: 480px;
  border: none;
  height: 130px;
  padding-left: 20px;
  padding-top: 20px;
}

.form-footer {
  height: 60px;
  width: 480px;
  padding-right: 20px;
  justify-content: space-between;
  display: flex;
}

.add-button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: white;
  background-color: #5cc768;
}
